@import 'variables.scss';

.slide-btn {
    width: 4rem;
    height: 4rem;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;    
    color: white;
    cursor: pointer;
    &:hover {
        opacity: 0.5;
        -webkit-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
    }
}
.LandingCounter {
        font-size: 5rem;
}
.top-container {
    .rightContainer {
        width: 80%;
        height: 100%;
        position: relative;
        display: inline-block;
        // animation: slide 0.5s forwards;
        overflow: hidden;
        .slides {
            width: 100%;
            height: 100%;
            background-size: cover;
            display: none;
        }
    }
}
.block {
    display: block !important;
}
.bg1 {
    background: url('../../../images/bg1.jpg') no-repeat center center;
    // animation: slide 0.5s forwards;
}
.bg2 {
    background: url('../../../images/bg2.jpg') no-repeat center center;
    // animation: slide 0.5s forwards;
}
.bg3 {
    background: url('../../../images/bg3.jpg') no-repeat center center;
    // animation: slide 0.5s forwards;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: .5s;
    animation-name: fade;
    animation-duration: .5s;
  }
@-webkit-keyframes fade {
    from {opacity: .5;} 
    to {opacity: 1;}
  }
  @keyframes fade {
    from {opacity: .5;} 
    to {opacity: 1;}
  }